* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 90%;
}

	/* Style pour le corps de la page */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin: 2rem auto;
    max-width: 1200px;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  /* Style pour le titre principal */
  h1 {
    color: #003f5c; /* bleu foncé */
    position: relative;
    font-size: 2.5rem;
    text-align: center;
  }
  h1::before {
    content: "";
    position: absolute;
    bottom: -0.1em;
    left: 0;
    right: 0;
    height: 0.05em;
    background-color: #9eb6d7;
  }
  
  /* Style pour le titre secondaire */
  h2 {
    font-size: 1.8rem;
    color: #2f4b7c;
    position: relative;
  }
  h2::before {
    content: "";
    position: absolute;
    bottom: -0.1em;
    left: 0;
    right: 0;
    height: 0.025em;
    background-color: #a5b6c4;
  }
  
  h3, h4, h5 {
  color: #665191;
  }
  
  /* Style pour le paragraphe */
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  
  /* Style pour le texte en italique */
  i {
  font-style: italic;
  color: darkblue;
  }
  
 
  /* Style pour la citation */
  blockquote {
    font-style: italic;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
  }
  
  /* Style pour le code en ligne */
  code {
    font-family: "Courier New", monospace;
    font-size: 1.1rem;
    background-color: #f9f9f9;
    padding: 0.1rem 0.3rem;
    border-radius: 3px;
  }
  
  /* Style pour le code en bloc */
  pre {
    font-family: "Courier New", monospace;
    font-size: 1.1rem;
    background-color: #f9f9f9;
    padding: 1rem;
    white-space: pre-wrap;
  }
  
  /* Style pour les liens */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Style pour les liens visités */
  a:visited {
    color: #6610f2;
  }
  
  /* Style pour les titres de liens */
  a:hover, a:focus {
    color: #007bff;
    text-decoration: underline;
  }
  
  /* Style pour les listes */
  ul, ol {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  .bouton {
  padding: 15px;
  display: inline-block;
  border:1px solid;
  border-radius: 5px;
  background-color: #5769f5;
  color: #fff;
  text-decoration: none;
  }
  
  

h1,h2 {
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
}

/* Style de la bordure du tableau */
table {
  border-collapse: collapse; /* Fusionne les bordures pour un style uniforme */
  border: 3px solid #333; /* Bordure épaisse pour le tableau */
  width: 100%; /* Largeur du tableau */
}

/* Bordures fines autour de chaque cellule */
table th, table td {
  border: 1px solid #aaa; /* Bordure fine pour chaque cellule */
  padding: 8px; /* Espacement dans chaque cellule */
  text-align: center; /* Alignement centré */
}

.boutons>p>a {
  padding: 15px;
  display: inline-block;
  border:1px solid;
  border-radius: 5px;
  background-color: #5769f5;
  color: #fff;
  text-decoration: none;
}

.boutons>p>a:hover {
  padding: 15px;
  display: inline-block;
  border:1px solid;
  border-radius: 5px;
  background-color: #99a5ff;
  color: #fff;
  text-decoration: none;
}