body {font-family: Verdana;
	font-size:10pt;
	background-color:white ;
	}
/* Mise en forme générale du widget*/	
#widget{
	width:600px;
	height:420px;
	border:2px solid rgba(7,55,99,0.8);
	border-radius:10px;
	padding-bottom:5px;
	background-color:white;
}
#parametres{
	position:absolute;
	top:150px;
	left:10px;
	width:600px;
}

ul{font-size:12px;}
p{
	text-align:center;
	font-size:12px;
	font-weight:400;
}

#colonne1 p,#colonne2 p, #habillage p,.droite p,.gauche p{
	text-align:left;
}
#colonne1 p,#colonne2 p{
	margin-top:0px;
	margin-bottom:0px;
}
#colonne1{
	position:relative;
	width:49%;
	float:left;
}
#colonne2{
	position:relative;
	width:49%;
	float:right;
}
/* Mise en forme du texte */
h1{
	color:rgba(7,55,99,0.8);
	font-size:14pt;
	text-align:center;
	line-height:6pt;
}
h2{
	color:lightblue;
	font-size:12pt;
	text-align:center;
	line-height:6pt;
	}

li{
	margin-left:10px;}
	
h3{
	font-size:11pt;
	font-style:italic;
	display:inline;
	text-align:center;
	color:darkgray;
}

#canevas {
	display:none
}
/* Icone licence */
.CC-BY-NC-SA{
	background-image:url("images/cc-by-nc-sa-min.svg");
	background-size: 100%;
	background-repeat:no-repeat;
	background-position: center; 
	background-color:transparent;
	width:120px;
	height:25px;
	position:relative;
	border:none;
	cursor:pointer;
}
/************************************************************/
/************** Mise en forme rubriques *******************/
/************************************************************/
#mot {
	border: solid 5px black;
	margin:5px;
	border-radius: 0px;
	overflow: hidden;
	width:500px;
	height:100px;
	float:left;
	font-size: 20px;
	resize:none /* Taille fixe de la fenetre de texte*/
	}

.contenu{
	font-weight:normal;
	font-style:normal;
	text-decoration:normal;
}

	/* Barre des onglets */
.onglet {
	overflow: hidden;
	border: none;
	border-radius:10px 10px 0px 0px;
	width:90%;
	height:50px;
	background-color:white;
	margin-left:5px;
}

/* Bouton de l'onglet */
.onglet button {
	width:25%;
	height:100%;
	border-radius:10px 10px 0px 0px;
	background-color: lightblue;
	border:1px solid rgba(7,55,99,0.8);
	color:rgba(7,55,99,0.8);
	font-weight:bold;
	float: left;
	cursor: pointer;
	padding: 2px 2px;
	transition: 0.5s;
	font-size: inherit;
}

/* Onglet survolé */
.onglet button:hover {
	color:white;
	background-color:rgba(7,55,99,0.8);
}

/* Onglet actif */
.onglet button.active {
	background-color: rgba(7,55,99,0.8);
	color:white;
}
.onglet button.active:hover {
	color:lightblue;
}

/* Contenu de l'onglet */
.contenu_onglet {
	display: none;
	margin-top:5px;
	margin-left:5px;
	border: none;
	width:auto;
	border-top: none;
	float:left;
	background-color:white;
}
/* Bouton de Génération des étiquettes*/
.bouton_commande {
	background-image:url("images/icone_valide.svg");
	background-repeat:no-repeat;
	background-position: center; 
	position:relative;
	border:solid 1px;
	border-color:rgba(7,55,99,0.8);
	border-radius:50%;
	background-color: lightblue;
	overflow: hidden;
}

/* Bouton miniature générer Onglet "À Propos" */

.bouton_fermeture {
	background-image:url("images/icone_fermeture.svg");
	background-repeat:no-repeat;
	background-position: center; 
	position:absolute;
	background-color: transparent;

	top:60px;
	right:60px;
	border:none;
	cursor:pointer;
	}
/* Taille des boutons Valider/Fermeture*/
.grand{
	position:absolute;
	background-size: 48px;
	display:block;
	left:550px;
	top:50px;
	width: 50px;
	height:50px;
	cursor: pointer;
}

.petit {
	width:25px;
	height:25px;
	cursor: a;
	}
/* Rubriques des blocs internes de l'onglet */	
.rubrique{
	background-color:lightblue;
	font-size:inherit;
	width:100%;
	color:rgba(7,55,99,0.8);
	text-align:left;
	}
/* Boutons de lien */
.lien {
	background-color:lightblue; 
	display:inline-block;
	color:rgba(7,55,99,0.8);
	border-radius:10px;
	border:solid 1px;
	border-color: rgba(7,55,99,0.8);
	padding:5px;
	cursor:pointer;
	}

/* Intitulé des rubriques*/
span {padding-left:5px;} /* Marge à gauche de l'intitulé de l'étiquette */

/* Adaptation des angles de la rubrique en fonction de sa position */
.haut{
		margin-bottom:5px;
		border-radius:5px 5px 0px 0px;		
}
.milieu{
		border-radius:0px;
		margin-top:5px;
		margin-bottom:5px;
}
.bas{
		margin-top:5px;
		border-radius:0px 0px 5px 5px;
}
/* Options de réglage de l'étiquette dans chaque onglet */	
.boite {
	position:relative;
	display:inline;
	border:solid 1px;
	border-color:rgba(7,55,99,0.8);
	font-size:inherit;
	font-weight:bold;
	color:white;
	background-color:rgba(7,55,99,0.8);
	text-align:center;
	border-radius:5px;
	width:100%;
	height:auto;
	padding-bottom:5px;
}
.droite{
	position:relative;
	float:right;
	width:350px;
	height:auto;
	margin-left:5px;
	}
.gauche{
	position:relative;
	float:left;
	margin:auto;
	width:230px;
	height:auto;
}
.mini{
	width:170px;
	}
/* Palettes dans les onglets */
.palette {
	margin:10px 0px;
	text-align:left;
	padding:0px 5px;
	
}
/* Curseur dans les onglets*/
 .potentiometre{
	border:none;
	margin:10px;
	width:130px;
}
#boite_police{
	column-count: 2;
	padding-top:10px;
	}
/* Affichage de la taille de police... */
.taille{
	border:none;
	color:white;
	background-color:rgba(0,0,0,0);	
	font-weight:bold;
	width:180px;
	text-align:right;
	position:relative;
	float:left;
	margin:5px;
}
#gras{
	font-weight:bold;
	}
#souligne{
	font-weight:normal;
	text-decoration:underline;
	}
#italique{
	font-weight:normal;
	font-style:italic;
	}
#site_perso,#revisions, #infos, #ccbyncsa{
	width:550px;
	height:200px;
	overflow:auto;
	padding:5px;
}
