﻿.bouton4 {
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:40px;
	height:40px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
	text-align:center;
	cursor:pointer;
font-family: Gloria Hallelujah, CMSY10, CMEX10, Symbol, Times;
  font-style: normal;

}
.bouton2 {
	padding:6px 6px 6px 6px;
	margin:2px;
	font:bold 13px Arial;
	background:#d1e2ff;
	color:#555;
	border-radius:2px;
	#width:150px;
	height:40px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
	text-align:center;
	cursor:pointer;
	font-family: Gloria Hallelujah, CMSY10, CMEX10, Symbol, Times;
  font-style: normal;

}

.bouton3 {
	padding:6px 0 6px 0;
	font-size:13px;
	background:white;
	color:#555;
	border-radius:2px;
	width:40px;
	height:40px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
	text-align:center;
font-family: Gloria Hallelujah, CMSY10, CMEX10, Symbol, Times;
  font-style: normal;
	
}

table{
	
	text-align:center;
	margin: auto;
	position:absolute;
	margin-left:300px;
}
#niveaux{font-size:13px;
	position:absolute;
	margin-top ; 100px;
	font-family: Gloria Hallelujah, CMSY10, CMEX10, Symbol, Times;
  font-style: normal;
    background-color: #f0f0f0;

}
@font-face {
    font-family: 'Gloria Hallelujah';
    src: url('font/gloriahallelujah-webfont.eot');
    src: url('font/gloriahallelujah-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('font/gloriahallelujah-webfont.html') format('woff2'),
         url('font/gloriahallelujah-webfont.woff') format('woff'),
         url('font/gloriahallelujah-webfont.ttf') format('truetype'),
         url('font/gloriahallelujah-webfont.svg#gloria_hallelujahregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

math, math[mode="inline"] {
  display: inline;
  font-family: Gloria Hallelujah, CMSY10, CMEX10, Symbol, Times;
  font-style: normal;
}

math[mode="display"] {
  display: block;
  text-align: center;
  font-family: Gloria Hallelujah, CMSY10, CMEX10, Symbol, Times;
  font-style: normal;
}

.fraction {
    display: inline-block;
    vertical-align: middle; 
    margin: 0 0.2em 0.4ex;
    text-align: center;
}
.fraction > span {
    display: block;
    padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}


.bouton
{
	border:none;
	text-align: center;
	background-color: #8ab1d9;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	color: #444444;

	font: 150%/100% Gloria Hallelujah, Arial,Helvetica,sans-serif;
	height: 52px;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;


	text-align: center;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	cursor:pointer;
	 text-decoration:none; 
}

.bouton:hover{
 text-decoration:none; 
	background-color: #ffd34e;
}
#message
{
	border:none;
	text-align: center;
	background-color: #e9d8ff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	color: #444444;

	font: 150%/100% Gloria Hallelujah, Arial,Helvetica,sans-serif;
	
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
width:400px;

	padding:10px;
	text-align: center;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

h1
{
font: 150%/100% Gloria Hallelujah, Arial,Helvetica,sans-serif;
font-weight: bold;
}

#explication
{
	border:none;
	text-align: center;
	background-color: #ebf9a9;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	color: #444444;

	font: 150%/100% Gloria Hallelujah, Arial,Helvetica,sans-serif;
	
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
width:400px;
	padding:10px;
	text-align: center;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

#msgaide
{
	visibility:hidden;
	border:none;
	text-align: center;
	background-color: #fffae1;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	color: #444444;
	width:400px;
	font: 150%/100% Gloria Hallelujah,Arial,Helvetica,sans-serif;
 height:100px; 
margin-left: 10px;
margin-top: auto;
margin-bottom: auto;
margin-right: auto;
left: 0;
top: 0;
bottom: 0;

	padding:10px;
vertical-align:middle;
display: flex;
 flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
	text-align: center;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	position:absolute;
	cursor:pointer;
}

#msgaide-texte
{
 margin: auto; /* eh oui, tout bÃªtement */
}
.consigne{
	border:none;
	text-align: center;
	background-color: #edffe7;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	color: #444444;

	font: 120%/100% Gloria Hallelujah, Arial,Helvetica,sans-serif;
	margin: 10px;
	margin-bottom: 20px;
	padding: 10px;
	Line-Height: 1.5;
	text-align: center;
	width:700px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	position:relative;
	     -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

}
#msg_reponse{
width: 500px;
text-align: center;

position:relative;
z-index:50;
border:none;
	text-align: center;
	background-color: #edffe7;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	color: #444444;

	font: 120%/100% Gloria Hallelujah,Arial,Helvetica,sans-serif;
	height: auto;
	padding:5px;

	text-align: center;

	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
}



.score{
	border:none;
	text-align: center;
	background-color: #feffd6;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	color: #444444;

	font: 120%/100% Gloria Hallelujah, Arial,Helvetica,sans-serif;
	margin: 10px;
	padding-bottom: 20px;
	padding: 10px;
Line-Height: 1.5;
	text-align: center;
	width:500px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	position:relative;
	     -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    	margin: auto;

}
#carre{
	     -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	padding-top : 30px;
    background-color: #f0f0f0;
}
#page{
	     -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #f0f0f0;
}
