body {text-align:center;     -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;}
    
#jeu {text-align:center;width :360px; margin:auto; height:360px;}

#carre {text-align:center;}
#jeu table { border-collapse: collapse; text-align: center; width: 100%;height:360px;  }
#jeu {font: normal 36px Georgia, Times New Roman, Times, serif; background: #fff; overflow: hidden; border: 3px solid #8C8C8C; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
#jeu table td, #jeu table th { padding: 24px 8px; text-align:center; width:33%;}
#jeu table tbody td { color: #7D7D7D; border-left: 2px solid #DBDBDB;border-bottom: 2px solid #DBDBDB;font-weight: bold; }
#jeu table tbody td:first-child { border-left: none; }
#jeu table tbody tr:last-child td { border-bottom: none; }

.bouton{margin:10px;}
.auteur{color: #7D7D7D;font: normal 12px Times New Roman, Times, serif;}
a{text-decoration:none;color: #7D7D7D; }
h1{color: #7D7D7D;}
#diff{display: inline-block;}
#consigne{color: #7D7D7D;font: normal 16px Times New Roman, Times, serif;padding:8px;}
