html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

#haut {
    height: 80px;
    background-color: #2c3e50; /* Couleur de fond sombre et moderne */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre portée */
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
}

#bas {
    height: 80px;
    background-color: #2c3e50; /* Couleur de fond sombre et moderne */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre portée */
    display: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
}



.bloc {
    background-color: rgb(172, 195, 216);
    border-radius: 10px;
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
}

.bloc p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0px auto 5px auto;

}

#inputFichierImage {
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 25px;
}

#milieu {
    width: 100%;
    flex: 1;
    position: relative;
    overflow: hidden; /* Empêche les débordements */
}

#milieu.drag {
    cursor: none;
}

#accueil {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 80%;
    max-height: 80%;
    padding-left: 1em;
    padding-right: 1em;
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    flex-direction: column;
    border-radius: 20px;
    box-sizing: border-box;

}

#accueil h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;

}

.sous-titre {
    font-size: 0.5em;
}

#accueil ul {
    width: calc(100% - 2em);
    font-size: 0.7em;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#imageDossier {
    height: 2em;
    vertical-align: bottom;
    cursor: pointer;
}

#imageDossier:hover {
    background-color: blue;
    border-radius: 0.5em;
}

#image {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#voile {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle at center,
      transparent 100px,
      rgba(0, 0, 0, 0.8) 100px
    );
    overflow: hidden;
}

#trou {
    position: absolute;
    z-index: 2;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 3px outset #000000;
}



.hide {display: none !important;}
