html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  background-color: transparent;
  font-size: 0;
}

body {
  background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

#clavier {    
  height: calc(100% - 30px);
  background-color: rgb(218, 218, 218);
  padding: 13px;
  border: 2px solid gray;
  box-shadow: inset 0px 0px 5px 5px rgba(130,130,130,1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ligne-clavier { 
  text-align: center;
}

.bouton-nombre {
  width: 60px;
  height: 60px;
  font-size: 50px;
  border-radius: 10px;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#bouton-gomme {
  background-image: url(images/gomme.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

#bouton-entree {
  background-image: url(images/ok.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;

}

#conteneur-principal {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  text-align: center;
}

#zone-principale {
  overflow-y: auto;
  text-align: center;
  flex: 1;
}

#en-tete {
  width: fit-content;
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 0px 0px 15px 15px;
  padding : 5px;
  border-width: 0px 1px 1px 1px;
  border-color: #000000;
  border-style: solid;
}

@media (orientation: portrait) {
  
  body {
    flex-direction: column;
  }

  #clavier {
    width: calc(100% - 30px);
    height: auto;
  }

  #conteneur-principal {
    height: auto;
    min-height: 50%;
  }

  #zone-principale {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bouton-nombre {
    width: calc((100vw - 30px) / 6);
    height: calc((100vw - 30px) / 6);
    font-size: calc((100vw - 30px) / 7);
  }

}

#saisie-nombre {
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

#bouton-valider {
  background-image: url(images/ok.svg);
  background-size: contain;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-left: 20px;
  vertical-align: middle;
}

#span-liste {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
  vertical-align: middle;
}

.input-nombre {
  display: inline-block;  
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  min-width: 2em;
  max-width: 4em;  
  border: 2px solid #ffffff;
  outline: none;
  border-radius: 10px;
  background-color: #c0e5f5; 
  vertical-align: middle;
  padding-left: 0.2em;
  padding-right: 0.2em;
  overflow-x: auto;
}

#input-nombre-tactile {
  height: 41px;
}

#zone-multiples {
  margin-top: 10px;
}

.ligne-multiple {
  display: inline-block;
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 8px;
  padding: 8px;
}

.resultat {
  display: inline-block;
  background-color: bisque;
  padding: 5px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: right;
  margin-left: 5px;
}



.clavier-bas {
  border-radius: 15px 15px 0px 0px;

}

.clavier-droite {
  border-radius: 15px 0px 0px 15px;
}

#en-tete button {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

#a-propos {
  position: fixed;  
  flex-direction: column;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 15px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  height: 500px;
  max-width: calc(90% - 30px);
  max-height: calc(90% - 30px);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  background-color: #ffffff;
  overflow-y: auto;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #ffffff;
}

#a-propos p {
  width: 100%;;
}

#a-propos button {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

#darkbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}


.hide {
  display: none !important;
}