@font-face {
    font-family: 'scriptecole';
    src: url('ScriptEcole2.ttf');
}

html, body, input, select {
	margin:0;
   	padding: 0;
	font-family: "comic,helvetica,arial";
	font-size: 20px;
}
body,div {background-image:url(../images/bg.png);
color: white;
}
input,select {color: black;}
h1 {margin:13px;padding:0;margin-top:0;font-size:36pt;text-align:center;font-weight:bold;color:white;font-family:"scriptecole";}
h2 {font-size:12pt;}
h3 {font-size:10pt;}
hr{width:300px}
div{margin:0;padding:0;border:0}
p {margin:7px;padding:0;text-align:center}
li {margin:15px;padding:0;text-align:left}
input {text-align:center;border:1px solid gray}
#jeu{margin-bottom:17px}
#jeu p {text-align:center}
#jeu span{font-size:9pt;font-weight:normal}

/*Nombre à trouver */
#idc {
	width:200px;
	height:104px;
	margin: auto;
	color:white;
	font-size:80px;
	font-family:"scriptecole";
	background:transparent url(../images/ardoise.png);
	background-size: 200px 104px;
	background-repeat: no-repeat;
	border:none;
}

/* Barre au dessus des ardoises de nombres tirés */
#ipl {width:750px;margin:0 auto;border:5px solid white}

/* Plaquettes */
#ipl input {
	display:block;
	float:left;
	width:115px;
	height:80px;
	margin:0 5px;
	font-family:"scriptecole";
	font-size:60px;
	color:white;
text-align:center;
	border:none;
	background:transparent url(../images/ardoise.png);
	background-size: 115px 80px;
	background-repeat: no-repeat;
}
#mdp {clear:both;margin-top:60px}
#idt{font-size:18px;font-weight:bold}

/* Mise en forme de la solution */
#isl {font-size:60px;line-height:1em;}

/* Couleur des liens HTML */
a {color:#abcdef}

/* Icone de taille normale */
.icone{
border:5px;
width:48px;
height:48px;
}

/* Icone de petite taille*/
.icone_mini{
width:24px;
height:24px;
border:none;
}

/**********************/
/* Boite de dialogue */
/*********************/

.alerte {
display:none;/* Boite Alerte masquée par défaut */
font-family: 'scriptecole';
top:10px;
	left:10px;
	width:auto;
	height:auto;
	position:absolute;
	border: 2px solid red;
	border-radius: 5px;
	z-index:0;
	font-size:24px;
	padding: 2px;
	background-image:url(../images/bg.png);
	color: white;/* couleur du texte*/
	margin-bottom: 15px;
	opacity:0.9;/* transparence */
}

/* Bouton fermant la boite de dialogue */
.btn_quitter {
	position:absolute;
	top:0;
	right:0;
}
