body
{
	text-align:center;
	font-family: 'OpenDyslexicalta';
}
input[type='text']{
border-radius:5px;
margin: auto;
margin-bottom:10px;
height: 40px;
font-family: inherit;
font-size: 18px;
text-align:center;
width: 450px;
display:flex; 
}
canvas{
margin: auto;
border-radius:5px;
display:flex; 
}
.auteur{color: #7D7D7D;font: normal 12px Times New Roman, Times, serif;}

#message
{
margin:60px;
}


@font-face {
    font-family: 'OpenDyslexicalta';
    src: url('font/opendyslexicalta-regular-webfont.eot');
    src: url('font/opendyslexicalta-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('font/opendyslexicalta-regular-webfont.html') format('woff2'),
         url('font/opendyslexicalta-regular-webfont.woff') format('woff'),
         url('font/opendyslexicalta-regular-webfont.ttf') format('truetype'),
         url('font/opendyslexicalta-regular-webfont.svg#opendyslexicaltaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
input[type='button'] {
	-moz-box-shadow:inset -2px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset -2px 1px 0px 0px #ffffff;
	box-shadow:inset -2px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;

	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
input[type='button']:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

.lightbox {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80%;
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  border:1px solid #dcdcdc;
}
.lightbox h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  min-height: 36px;
  margin: 10px;
}
.contenu-lightbox {
  flex: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto;
  text-align: left;
  width: fit-content;
  margin: auto;
}
.hide {
  display: none !important;
}
