
body
{
 display: grid;
 grid-template-columns:  100px auto;
 grid-gap: 10px;
 grid-auto-rows:  auto auto;
 height: max-content;
 min-height: 98vh;
}

#canvas-dessin
{
	grid-column: 2;	
	grid-row: 1/4;
}
#tailletexte
{
	width:230px;
	grid-column: 1;	
}
#tableau
{
	grid-column: 1;	
	
}
#texte
{
font-size:12px;
	grid-column: 1;	
	
}
#tailletroppetite
{
color:red;
background-color:lightgrey;
border-radius:5px;
}