/* Zones de dessin des étiquettes avant transfert vers le tableau*/
#canevas,#tempimage{
	display:none
	}
/* Mise en forme du texte */
/* Titre de niveau 1*/
h1{
	color:rgba(7,55,99,0.8);
	font-size:14pt;
	text-align:center;
	padding-bottom:6pt;
}
/* Titre de niveau 2*/
h2{
	color:white;
	font-size:12pt;
	text-align:center;
	padding-bottom:4pt;
}
/* Titre de niveau 2 dans la fenêtre d'aide */
#texte_aide h2 {
	color:lightblue;}
/* Titre de niveau 2 dans la fenêtre de révisions */
#revisions h2 {
	text-align:left;
	}
/* Titre de niveau 3 */
h3{
	font-size:11pt;
	font-style:italic;
	display:inline;
	text-align:center;
	color:darkgray;
	padding-bottom:2pt;
}
/* Images*/
img{
	width:100%;
	height:auto;
}
#site_perso,#revisions, #infos, #ccbyncsa{
	overflow:auto;
	padding:5px;
}
/* Icone licence */
.CC-BY-NC-SA{
	vertical-align:middle;
	background-image:url("images/by-nc-sa.eu.svg");
	background-repeat: no-repeat;
	background-position: center center; 
	background-size:100% 100%;
	background-color:transparent;
	width:100px;
	height:30px;
	position:relative;
	border:none;
	cursor:pointer;
}
/* Paragraphes & listes */
p,li{
	font-size:12px;
	font-style:normal;
	color:black;
	}
li{line-height:2em}


/*******************/
/* ETIQUETTES */
/******************/
/* Bande d'étiquettes disponibles */
.bande{
	border-bottom:1px dashed #666;
	padding:10px 0px;
	line-height:1.5em;
}
/* Etiquettes des nombres */
.etiquette{
	font-family:"Cursive standard";
	font-size:14pt;
	background-color:white;
	border:1px solid #000;
	border-radius:2px;
	display:inline;
	position:relative;
	padding:0px 5px;
	cursor:pointer;
}
/* État caché d'une étiquette */
.cache{
	display:none;
}
/* Couleur de fond des étiquettes */
#mille,#mini_mille,#millier,#milliers,#mini_millier{background-color:#ac92b4} /* VIOLET */
#million,#mini_million,#millions,#mini_millions{background-color:#fb9903} /* ORANGE*/
#milliard,#mini_milliard,#milliards,#mini_milliards{background-color:#fefe33} /* JAUNE*/

#unite,#mini_unite,#unites,#mini_unites {background-color: #83cee7} /* BLEU */
#dizaine,#mini_dizaine,#dizaines,#mini_dizaines{background-color: #ff433f} /* ROUGE*/
#centaine,#mini_centaine,#centaines,#mini_centaines{background-color: #83ce7e} /* VERT*/

#dixieme,#dixiemes,#mini_dixieme,#centieme,#centiemes,#mini_centieme,#millieme,#milliemes,#mini_millieme{background-color: #fed99e} /* SAUMON*/

/* Etiquettes des nombres dans les paramètres*/
.miniature{
	font-family:"Cursive standard";
	font-size:14pt;
	font-weight:normal;
	background-color: white;
	border:1px solid rgba(7,55,99,0.8);
	border-radius:5px;
	display:inline;
	position:relative;
	padding:0px 5px;
	line-height:3em;
}
/* Étiquette déselectionnée dans les paramètres */
.desactive{
	font-weight:normal;
	background-color:transparent;
	color:grey;
	}
/* Bande d'étiquettes dans les paramètres */
.mini_bande{
	display: table-cell;
	vertical-align: middle;
	}
/* Miniatures des étiquettes désactivées transparentes */
#mini_cent.desactive, #mini_cents.desactive,#mini_mille.desactive,#mini_million.desactive,#mini_millions.desactive,#mini_milliard.desactive,#mini_milliards.desactive,#mini_unite.desactive,#mini_unites.desactive,#mini_dizaine.desactive,#mini_dizaines.desactive,#mini_centaine.desactive,#mini_centaines.desactive,#mini_millier.desactive,#mini_dixieme.desactive,#mini_centieme.desactive,#mini_millieme.desactive{
	background-color:transparent;
	}
/***************/
/* BOUTONS */
/**************/
/* Style général */
/* Bouton "Tout voir" dans la boîte de dialogue Paramètres*/
.mini_bouton{
	width: 30px; 
	height: 30px; 
	background:url("images/visible.svg");
	background-size: cover;
	display:inline-block;
	vertical-align: middle;
}
/* Bouton "Tout cacher" dans la boîte de dialogue Paramètres*/
.mini_bouton.desactive{
	background:url("images/invisible.svg");
	background-size: cover;
}
/***************/
/* ONGLETS */
/* Barre des onglets */
/**************/
.onglet {
	overflow: hidden;
	border: none;
	border-radius:10px 10px 0px 0px;
	width:90%;
	height:25px;
	margin-left:5px;
}

/* Bouton de l'onglet */
.onglet button {
	width:25%;
	height:100%;
	border-radius:10px 10px 0px 0px;
	background-color: lightblue;
	border:1px solid rgba(7,55,99,0.8);
	color:rgba(7,55,99,0.8);
	font-size: 12pt;
	float: left;
	cursor: pointer;
	padding: 2px 2px;
}

/* Onglet survolé */
.onglet button:hover {
	color:white;
	background-color:rgba(7,55,99,0.8);
}

/* Onglet actif */
.onglet button.active {
	background-color: rgba(7,55,99,0.8);
	color:white;
	font-weight:bold;
}
/* Onglet actif survolé */
.onglet button.active:hover {
	color:lightblue;
}

/* Contenu de l'onglet */
.contenu_onglet {
	display: none; /* Les contenus des onglets sont cachés par défaut */
	margin-top:5px;
	margin-left:5px;
	border: none;
	width:auto;
	border-top: none;
	float:left;
}

.bloc{display:block;} /* Affichage en bloc du contenu de l'onglet sélectionné*/

/*Affichage d'un onglet dans l'aide */
#onglet_aide span{
	overflow: hidden;
	border-radius:10px 10px 0px 0px;
	height:25px;
	width:auto;
	border-radius:10px 10px 0px 0px;
	background-color: lightblue;
	border:1px solid rgba(7,55,99,0.8);
	color:rgba(7,55,99,0.8);
	font-size: 10pt;
	padding: 2px 2px;
}
/* Lien hypertexte */
.lien {
	font-size:10pt;
	background-color:lightblue; 
	display:inline-block;
	color:rgba(7,55,99,0.8);
	border-radius:10px;
	border:solid 1px;
	border-color: rgba(7,55,99,0.8);
	padding:5px;
	cursor:pointer;
	}

/* Bouton Fermeture fenêtre Aide/Révisions/Licence */
.bouton_fermeture {
	background-image:url("images/icone_fermeture.svg");
	background-repeat:no-repeat;
	background-position: center; 
	position:absolute;
	background-color: transparent;
	width:25px;
	height:25px;
	top:10px;
	right:10px;
	border:none;
	cursor:pointer;
	}

/* Zone d'affichage niveau 1 (les rubriques) */	
.zone{
	position:relative;
	width:560px;
	height:330px;
	border:1px solid rgba(7,55,99,0.8);
	background-color:#eee;
	}
/* Zone d'affichage niveau 2 (des paramètres) */	
.zone2{
	position:relative;
	width:520px;
	height:200px;
	border:1px solid rgba(7,55,99,0.8);
	background-color:#ccc;
	}
/* Zone d'affichage niveau 3 (révisions, site perso, CC-BY-NC-SA) */	
.zone3{
	position:relative;
	width:520px;
	height:300px;
	border:1px solid rgba(7,55,99,0.8);
	background-color:lightblue;
	}