@font-face {
    font-family: 'opendys';
    src: url('font/opendyslexicmono-regular-webfont.eot');
    src: url('font/opendyslexicmono-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('font/opendyslexicmono-regular-webfont.html') format('woff2'),
         url('font/opendyslexicmono-regular-webfont.woff') format('woff'),
         url('font/opendyslexicmono-regular-webfont.ttf') format('truetype'),
         url('font/opendyslexicmono-regular-webfont.svg#cursif') format('svg');
    font-weight: normal;
    font-style: normal;
}


.bouton
{
	border:none;
	text-align: center;
	border-radius: 5px;
	background-color: #cecece;
	font: 60%/100% opendys, Arial,Helvetica,sans-serif;
	height: 32px;
	margin: 10px;
	padding:5px;
	text-align: center;
	cursor:pointer;
	 text-decoration:none; 
	  user-select: none;
}

.bouton:hover{
 text-decoration:none; 
	background-color: #ffd34e;
}


.bouton2
{
white-space: nowrap;
	border:none;
	text-align: center;
	border-radius: 5px;
	
	font: 50%/100% opendys, Arial,Helvetica,sans-serif;
	display: inline-block;
	margin: 5px;
	padding:5px;
	text-align: center;
	 text-decoration:none; 
	  user-select: none;
}
#msg
{
	border:none;
	text-align: center;
	background-color: #e9d8ff;
	border-radius: 5px;
	display: block;

	font: 60%/100% opendys, Arial,Helvetica,sans-serif;
	margin:auto;
	
	margin-top: 10px;
	margin-bottom: 10px;
	
width:400px;

	padding:5px;
	text-align: center;
}


.consigne{
	border:none;
	background: bisque;
	

	font: 75%/100% opendys, Arial,Helvetica,sans-serif;
	margin:auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding:5px;
	Line-Height: 2;
	text-align: center;
	
	user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}


html {
  height: 100%;
	touch-action: none;/*désactive pool down refresh*/
	

font-family: monospace;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
text-align:center;
max-width:800px;
min-width:650px;
 
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}


#config
{
margin:10px;
}
