
@font-face {
    font-family: 'cursive_standardregular';
    src: url('cursive_standard-webfont.eot');
    src: url('cursive_standard-webfont.eot?#iefix') format('embedded-opentype'),
         url('cursive_standard-webfont.woff2') format('woff2'),
         url('cursive_standard-webfont.woff') format('woff'),
         url('cursive_standard-webfont.ttf') format('truetype'),
         url('cursive_standard-webfont.svg#cursive_standardregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.myButton {
	-moz-box-shadow:inset -2px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset -2px 1px 0px 0px #ffffff;
	box-shadow:inset -2px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}


#jeu {
position:fixed;
height : 464px;
top : 80px;
left:0px;
width: 1000px;
background-image:url(Cheque.jpg);
background-repeat:no-repeat;
background-position:left top;

}

#nombre {
 font-family: 'cursive_standardregular';
 font-size:140%;
position:fixed;
left : 770px;
top:230px;
}

#reponse {
 font-family: 'cursive_standardregular';
 font-size:150%;
position:fixed;
left : 200px;
top:178px;
width : 670px;
background-color:transparent;
border: 0;
outline:none;
}


#reponse2 {
 font-family: 'cursive_standardregular';
 font-size:150%;
position:fixed;
left : 20px;
top:217px;
width : 670px;
background-color:transparent;
border: 0;
outline:none;
}

#quand {
 font-family: 'cursive_standardregular';
 font-size:150%;
position:fixed;
left : 800px;
top:300px;
width : 650px;
background-color:transparent;
border: 0;
}
#ou {
 font-family: 'cursive_standardregular';
 font-size:150%;
position:fixed;
left : 600px;
top:300px;
width : 650px;
background-color:transparent;
border: 0;
}
#moi {
 font-family: 'cursive_standardregular';
 font-size:150%;
position:fixed;
left : 40px;
top:250px;
width : 650px;
background-color:transparent;
border: 0;
}

@media  (max-width: 1000px) {

#jeu {
background-image:url(Cheque.jpg);
position:fixed;
height : 464px;
top : 80px;
left:0px;
width: 500px;
 background-size: 500px;

}

#nombre {
 font-size:70%;
position:fixed;
left : 382px;
top:155px;
}

#reponse {
 font-family: 'cursive_standardregular';
 font-size:70%;
position:fixed;
left : 100px;
top:128px;
width : 670px;
background-color:transparent;
border: 0;
outline:none;
}


#reponse2 {
 font-size:70%;
position:fixed;
left : 10px;
top:147px;
width : 335px;
}
#quand {
 font-size:90%;
position:fixed;
left : 400px;
top:187px;
width : 325px;
}
#ou {
 font-size:90%;
position:fixed;
left : 300px;
top:187px;
width : 325px;
}
#moi {
 font-size:90%;
position:fixed;
left : 20px;
top:162px;
width : 325px;
}
}
